body, button {
  background-color: RosyBrown;
  
}

h1, h3, button, p {
  color: white;
  text-aling: center;
  font-familiy: Poppins
} 

img, button {
  display: block;
  border: 2px solid white;
  margin: 20px auto;
}

img {
 height: 450px;
} 

button {
  height: 60px;
  width: 180px;
  cursor: pointer;
}

button:hover {
  background-color: brown;
}

button:active {
  background-color: Salmon;
}